html{
    padding: 1vw;
    font-family: 'Montserrat', sans-serif;
}

.header{
    height: 10vh;
    display: block;
    background-color: white;
}

.navigation{
    height: 100%;
    text-align: center;
    margin-top: 1vh;
}

.navigation ul{
    display: inline-block;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    text-decoration: none;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

#framside{
    height: 90vh;
}

.std_bilde{
    width: 30vw;
    border: solid black;
}

#namn{
    background-color: #002433;
    background-color: #3E819C;
    background-color: #002E56; 
    background-color: #00294d;
    background-color: #002D4B;
    height: 40vh;
}

#theh1s{
    margin-left: 15vw;
}
#framside h1{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .3vw;
    font-size: 500%;
    color: white;
}
#h1_shadow{
    margin-top: 6vh;
    color: gray;
}

#h1_1{
    margin-left: 0vw;
}
#h1_2{
    margin-left: 0vw;
}
#h1_4{
    margin-left: -1vw;
}
#h1_5{
    margin-left: -2vw;
}

#robots_bilde{
    border: none;
    height: 40vh;
    object-fit: contain;
    margin-top: 2vh;
    margin-left: -4vw;
}

#utdanning{
    height: 80vh;
}

#erfaringar{
    height: 80vh;
    margin: 1vw;
    padding: 2vw;
}

#ferdigheiter{
    height: 80vh;
    margin: 1vw;
    padding: 2vw;
}

#ferdigheiter_bilde{
    background-image: url("media/tech.svg");
    background-size: cover;
    height: 40vh;
}